#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: -15px;
}
#friends-display-link i {
  color: var(--gray-color);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
  height: auto;
}
.friends-screen__birthdays {
  background-color: #e2737a;
  color: #fff;
}
