#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: -15px;
}
#friends-display-link i {
  color: var(--gray-color);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 25px;
  padding-top: 15px;
  border-top: var(--border);
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
