.phone-number {
  display:flex;
  align-items: center;
}
.phone-number__warn {
  margin-left: 10px;
  margin-top: 8px;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  border: 2px solid #f88686;
  color: #f88686;
  border-radius: 50%;
  font-weight: 700;
  font-size: 13px;
}
.more-screen .icon-row {
  margin: 35px 0;
}
.more-suggestions {
  margin-top: 15px;
  border-top: var(--border);
  padding-top: 40px;
}
.more-suggestions__title {
  margin-bottom: 30px;
}
.more-suggestions__icons {
  display:flex;
}
.more-suggestion__icon {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.more-suggestion__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.more-suggestion__icon-image i {
  font-size: 32px;
  color: #fff;
}
.more-suggestion__icon-image img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}