.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}
.dot {
  width: 5px;
  height: 5px;
  display: flex;
  background-color: tomato;
  border-radius: 50%;
}