@keyframes badge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  animation: badge ease-in-out infinite;
}
.dot {
  width: 5px;
  height: 5px;
  display: flex;
  background-color: tomato;
  border-radius: 50%;
}
