.modal {
  position: relative;
}

.modal__toggle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
.modal__toggle--sm {
  width: 50px;
  height: 50px;
}
.modal__toggle:checked {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
}
.modal__backdrop {
  display: none;
}
.modal__toggle:checked ~ .modal__backdrop {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  opacity: 1;
}

.modal__content {
  background-color: #848b91;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  pointer-events: auto;
  cursor: auto;
  z-index: 1;
}
.modal__profile {
  position: fixed;
  width: 100%;
  top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__photo {
  width: 200px;
  height: 200px;
  border-radius: 80px;
  margin-bottom: 30px;
}
.modal__text {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
}
.modal__title {
  font-size: 30px;
  color: #fff;
}
.modal__subtitle {
  margin-top: 10px;
  font-size: 20px;
  color: #e4e4e4;
}
.modal__close {
  position: absolute;
  color: #fff;
  font-size: 40px;
  text-align: center;
  top: 30px;
  left: 30px;
  cursor: pointer;
}
.modal__columns {
  display:flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 100px;
  padding: 50px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  box-sizing: border-box;
}
.modal__column {
  width: 33%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal__column span {
  margin-top: 30px;
}
.modal__column:first-child {
  margin-right: auto;
}
.modal__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.modal__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}