.no-mobile {
  position: absolute;
  z-index: 9999999;
  background-color: #ffd800;
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
}
.no-mobile--friends-screen {
  height: 100%;
}
.no-mobile__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-mobile__text i {
  color: #fff;
  margin-bottom: 20px;
}
.no-mobile__text span {
  margin: 10px 0;
  font-weight: 600;
  font-size: 40px;
}
@media screen and (min-width:601px) {
  .modal-content {
    display: none;
  }
}
@media screen and (max-width:600px) {
  .no-mobile {
    display: none;
  }
}
